
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sensor Status</th>
        <th scope="col">Sensor Traffic</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">One Way</th>
        <td>{{a[0].sensor_status}}</td>
        <td>{{a[0].sensor_traffic}}</td>
        
      </tr>
      <tr>
        <th scope="row">Two Way N</th>
        <td>{{a[1].sensor_status}}</td>
        <td>{{a[1].sensor_traffic}}</td>
        
      </tr>
      <tr>
        <th scope="row">Two Way S</th>
        <td>{{a[2].sensor_status}}</td>
        <td>{{a[2].sensor_traffic}}</td>
        
      </tr>
      <tr>
        <th scope="row">Two Way W</th>
        <td>{{a[3].sensor_status}}</td>
        <td>{{a[3].sensor_traffic}}</td>
      
      </tr>
      <tr>
        <th scope="row">Two Way E</th>
        <td>{{a[4].sensor_status}}</td>
        <td>{{a[4].sensor_traffic}}</td>
        
      </tr>
    </tbody>
  </table>
