<!--  <p>two-way works!</p>
<div  class="d-flex flex-row bd-highlight mb-3">
<button (click)="ntwoway()">
   <div> N<img src="assets/oneway.jpg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
   </div></button>
<br>

<button (click)="stwoway()">
    <div> S<img src="assets/oneway.jpg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
    </div>
</button>


<br>
</div>


<div class="d-flex flex-row bd-highlight mb-3">
<button (click)="wtwoway()">
    <div> W<img src="assets/oneway.jpg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
    </div>
</button>
<br>

<button (click)="etwoway()" >
    <div> E<img src="assets/oneway.jpg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
    </div>
</button>
<br>





<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->

<div class="d-flex flex-row bd-highlight mb-3" class="d-flex justify-content-center">
  <button (click)="ntwoway()" class="btn btn-default">
    <p  style="font-size: 24px; font-weight:bold" >North Traffic Sensor</p>
   
    <img src="assets/twoway.jpeg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
</button> 

<button (click)="stwoway()" class="btn btn-default">
    <p  style="font-size: 24px; font-weight:bold" >South Traffic Sensor</p>
    <img src="assets/twoway.jpeg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
</button> 
</div>

<div class="d-flex flex-row bd-highlight mb-3" class="d-flex justify-content-center">
    <button (click)="wtwoway()" class="btn btn-default">
        <p  style="font-size: 24px; font-weight:bold" >West Traffic Sensor</p>
        <img src="assets/twoway.jpeg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
  </button> 
  
  <button (click)="etwoway()" class="btn btn-default">
      <p  style="font-size: 24px; font-weight:bold" >East Traffic Sensor</p>
      <img src="assets/twoway.jpeg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
  </button> 
  </div>



 