<!-- <p  style="font-size: 24px; font-weight:bold" >one-way works!</p>



<button (click)="formoneWay()" class="btn btn-default">
    <img src="assets/oneway.jpg" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
</button>
 -->
 <div class="d-flex justify-content-center">
<button (click)="formoneWay()" class="btn btn-default">
    <p  style="font-size: 24px; font-weight:bold" >One Way Traffic Sensor</p>
    <img src="assets/oneway.png" height="250px" width="250px  " class="img-rounded" alt="Cinque Terre">
</button> 
</div>

 


<!-- <button (click)="formoneWay()">click</button> -->