

            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" style="width: 50%; height: 75px;" (click)="oneWay()">One Way</button>
                </div>
                <br><br>
                <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary "style="width: 50%; height: 75px;" (click)="twoWay()">Two Way</button>
                </div>
                <br><br>
                <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" style="width: 50%; height: 75px;"  (click)="Veiw()">Veiw</button>
                </div>
